body
{
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "logofont";
  src: url(../Fonts/jaapokkisubtract-regular.eot)format('embedded-opentype'),
  url(../Fonts/jaapokkisubtract-regular.woff)format('woff');
}
.navbar-brand
{
padding:0;
}
.navbar-toggle
{
  margin-left: 0;
}
.navbar-default
{
 font-family: 'Fjalla One', sans-serif;

  position: absolute;
    z-index: 999;
    width: 100%;
    background: rgba(0,0,0,0.4);
    border-radius: 0;
    border: none;
}
input, textarea, button {outline: none; }
.section
{
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.logo-container
{
  border: 4px solid white;
  max-width: 65%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
h1
{
 margin-top: 20px;
  font-family: "logofont", sans-serif;
  margin-bottom: 0;
  font-size: 11vw;
  line-height: 80%;
  color: white;

}
h2
{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  color:#565656;
  margin-bottom: 20px;
  margin-top: 10px;

}
h3
{
  margin-top: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 3vw;
}
.navbar-default .navbar-nav>li>a
{
  border-right: 2px solid white;
  padding-top: 0;
  margin-top: 20px;
  padding-bottom: 0;
  color: white;
  font-size: 16px;
}
.navbar-default .navbar-nav>li:last-child>a
{
  border: none;
}
p
{
  font-size: 5vmin;
  font-family: 'Fjalla One', sans-serif;
}
.logo-container #gallery-logo
{
    margin-top: 10px;
    margin-bottom: 10px;
}
#gallery-logo
{
  font-family: 'Josefin Sans', sans-serif;!important
  
}
#text-wrapper
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  text-align: center;
  color: white;
  width: 100%;
  height: 40%;
  background-color: black;
  opacity: 0.7;
}
#main
{
  background-image: url("/Images/1.png");
}
#about
{
  background-image: url("/Images/2.png");
}
#gallery
{
    background-image: url("/Images/3.png");
}
.row
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.col
{
    flex: 1;
}
.gallery-image
{
   width: 20%;
  height: 20%;
    margin: 5px;
}
#contact
{
    background-image: url("/Images/4.jpeg");
}
#message
{
  height: 100px;!important
}
#formContainer
{
  margin-left: 3%;
  max-width: 500px;!important
  align-items: center;
}
.form-control
{
  background-color: rgba(0,0,0,0.0);
  border-color: grey;
  border-width: 1px;
  border-radius: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
#formButton
{
  background-color: black;
  margin-left: 33%;
  margin-right: 33%;
  background-color: black;
  border-radius: 0px;
  font-family: 'Fjalla One', sans-serif;
  border: none;
  color: white;
  width: 34%;
  height: 35px;
}

@media (max-width: 768px)
{
    .gallery-image
    {
        width:25%;
        height: 25%;
        margin: 5px;
    }
    .navbar-default .navbar-nav>li>a
    {
        border: none;
    }
    #gallery-logo
    {
        margin-top: 0px;
    }
}
@media (max-width:385px)
{
    #formButton
    {
        font-size:13px;
    }
}